<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BMSiOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D72D36F71CA2424C0017C2F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D72D37101CA2424D0017C2F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D72D371B1CA2424D0017C2F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
